body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(4.jpg);
    background-size: cover;
    backdrop-filter: blur(10px);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(5,50px);
    grid-gap: 5px;
}

button{
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    transition: 0.2s;
}
 .grey{
     background-color: #a6a6a6;
     color: black;
 }
 .orange{
     background-color: #ffa017;
     color: white;
 }
 .dg{
     background-color: #333333;
     color: white;
 }

 button:nth-child(17){
     grid-column: span 2;
     text-align: left;
     padding-left: 20px;
 }

 .application{
     background-color: black;
     width: 215px;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 0 20px 0 black;
 }

 .user_input input{
     width: 100%;
     box-sizing: border-box;
     padding: 7px;
     font-size: 36px;
     border: none;
     outline: none;
     text-align: right;
     background-color: black;
     color: white;
     caret-color: black;
     
 }

 .user_input{
     padding:40px 0px 8px 0px

 }

 button:active{
     transform:scale(0.95)

 }

 .active{
    opacity: 0.6;
 }
 